<h1>企業マスタ編集画面</h1>

<%= render "form", kigyo_master: @kigyo_master %>

<br>

<div style="display:inline-flex">
  <%= link_to "表示画面へ", @kigyo_master %> |
  <%= button_to "削除", kigyo_master_path(@kigyo_master), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %> |
  <%= link_to "一覧へ戻る", kigyo_masters_path %>
</div>
