<p style="color: green"><%= notice %></p>

<h1>企業マスタ表示画面</h1>

<%= render @kigyo_master %>

<div>
  <%= link_to "編集画面へ", edit_kigyo_master_path(@kigyo_master) %> |
  <%= link_to "一覧へ戻る", kigyo_masters_path %>
</div>
