.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-buttom: 20px;
  background-color: #f0f0f0
  h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    back-ground-color: #c00;
    color: #fff;
  }
  ul li{
    font-size: 12px;
    list-style: square;
  }
}

*{
  margin:0;
  }

.diary_header {
  background-color: #FFCCFF;
}

.diary_body {
  background-color: #CCFF99; 
}

.diary_fotter {
  background-color: #99CCFF	
}