<p style="color: green"><%= notice %></p>

<h1>譲渡益集計</h1>
<h3>（受渡日：<font color = "red"><%= @nen %></font>年01月01日～
<font color = "red"><%= @nen %></font>年12月31日）</h3><br>

<table border="1">
  <% i = 0 %>
  <% @total_soneki.each do |total_soneki| %>
    <% i = i + 1 %>
    <% if i == 1 %><th>利益計</th><% end %>
    <% if i == 2 %><th>損失計</th><% end %>
    <% if i == 3 %><th>全体合計</th><% end %>
    <td><%= number_with_delimiter(total_soneki.son_eki_gaku) %></td>
  <% end %>
</table>
<br>
<%= link_to "2020年", jyoto_eki_syukei_path(nen: "2020") %> 
<%= link_to "2021年", jyoto_eki_syukei_path(nen: "2021") %> 
<%= link_to "2022年", jyoto_eki_syukei_path(nen: "2022") %> 
<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th>
      <th>会社名</th>
      <th>損益額</th>
      <th>買付日</th>
      <th>売却日</th>
    </tr>
    </thead>

<% if @jyoto_eki_syukeis != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @jyoto_eki_syukeis.each do |jyoto_eki| %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= jyoto_eki.code %></td>
        <td><%= jyoto_eki.name %></td>
        <td>
          <% if jyoto_eki.son_eki_gaku < 0 %>
            <font color = "red">
          <% end %>
          <%= number_with_delimiter(jyoto_eki.son_eki_gaku) %>
          <% if jyoto_eki.son_eki_gaku < 0 %>
            </font>
          <% end %>
        </td>
        <td><%= jyoto_eki.kaituke_bi %></td>
        <td><%= jyoto_eki.baikyaku_bi %></td>
      </tr>
    <% end %>
  </div>      
<% end %>


</table>

