<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/csv_upload/index_jyo_to_eki">譲渡益明細アップロード</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/jyoto_eki_syukei?nen=2025">譲渡益明細集計</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/tuki_jyoto_eki_syukei?nen=2025">月別譲渡益</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/haito_eki_syukei?nen=2025">配当金集計</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/meigara_memos?nendo=2025">銘柄メモ</a>
</menu>

<br>
