<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/csv_upload/index_jyo_to_eki">譲渡益明細アップロード</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/jyoto_eki_syukei?nen=2022">譲渡益明細集計</a>
</menu>

<br>
■使い方<br>
1. csvを成形し不要な行を取り除く<br>
2. CSVのヘッダーをＤＢカラム（英語）に差し替える<br>
3. CSVをエディタで開き、UTF8Nで保存する<br>
4. 画面からアップロードをする<br>