<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/csv_upload/index_jyo_to_eki">譲渡益明細アップロード</a>
</menu>
<br><hr>
<menu>
  <li><a href="http://192.168.56.2:3000/jyoto_eki_syukei?nen=2022">譲渡益明細集計</a>
</menu>

<br>
