<h1>Editing jyoto eki meisai</h1>

<%= render "form", jyoto_eki_meisai: @jyoto_eki_meisai %>

<br>

<div>
  <%= link_to "Show this jyoto eki meisai", @jyoto_eki_meisai %> |
  <%= link_to "Back to jyoto eki meisais", jyoto_eki_meisais_path %>
</div>
