<p style="color: green"><%= notice %></p>

<h1>損益一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th>順位</th>
      <th>コード</th> 
      <th>損益額</th>
    </tr>
    </thead>

<% if @son_ekis != nil %>
  <div id="son_ekis">
    <% i = 0 %>
    <% @son_ekis.each do |son_eki| %>
      <tr>
        <% i = i + 1 %>
        <td><%= i %></td>
        <td><%= son_eki[0] %></td>
        <td><%= number_with_delimiter(son_eki[1]) %></td>
      </tr>
    <% end %>
  </div>      
<% end %>


</table>

