<h1>Editing torihiki rireki</h1>

<%= render "form", torihiki_rireki: @torihiki_rireki %>

<br>

<div>
  <%= link_to "Show this torihiki rireki", @torihiki_rireki %> |
  <%= link_to "Back to torihiki rirekis", torihiki_rirekis_path %>
</div>
